.board-area-general {
    float: left;
    display: flex;
    justify-content: center;
}
.board-field {
    float: left;
    background-color: var(--field-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-field:hover {
    cursor: pointer;
    background-color: var(--field-hover-color);
}
.board-field-open {
    background-color: var(--field-open) !important;
}

/** Beginner difficulty level - 10x10 fields **/
.beginner-board-area {
    width: 100%;
    height: 104vw;
    padding-bottom: 4vw;
}
.beginner-board {
    width: 100vw;
    height: 100vw;
}
.beginner-field {
    width: 10vw;
    height: 10vw;
    border: solid black 0.1rem;
}
@media (min-width: 30rem) {
    .beginner-board-area {
        height: 31rem;
        padding-bottom: 1rem;
        background-color: yellow;
    }
    .beginner-board {
        width: 30rem;
        height: 30rem;
    }
    .beginner-field {
        width: 3rem;
        height: 3rem;
        border: solid black 0.1rem;
    }
}
@media (min-width: 50rem) {
    .beginner-board-area {
        height: 31rem;
        padding-bottom: 1rem;
        background-color: greenyellow
    }
    .beginner-board {
        width: 30rem;
        height: 30rem;
    }
    .beginner-field {
        width: 3rem;
        height: 3rem;
        border: solid black 0.1rem;
    }
}

/** Real-saper difficulty level - 20x20 fields **/
.real-saper-board-area {
    width: 100%;
    height: 104vw;
    padding-bottom: 4vw;
}
.real-saper-board {
    width: 100vw;
    height: 100vw;
}
.real-saper-field {
    width: 5vw;
    height: 5vw;
    border: solid black 0.1rem;
}
@media (min-width: 30rem) {
    .real-saper-board-area {
        height: 32rem;
        padding-bottom: 2vw;
        background-color: orangered;
    }
    .real-saper-board {
        width: 30rem;
        height: 30rem;
    }
    .real-saper-field {
        width: 1.5rem;
        height: 1.5rem;
        border: solid black 0.1rem;
    }
}