.field-text-color-1 {
    color: white;
}

.field-text-color-2 {
    color: rgb(61, 198, 219);
}

.field-text-color-3 {
    color: rgb(168, 236, 67);
}

.field-text-color-4 {
    color: rgb(11, 242, 142);
}

.field-text-color-5 {
    color: rgb(61, 61, 216);
}

.field-text-color-6 {
    color: rgb(232, 79, 76);
}

.field-text-color-7 {
    color: rgb(246, 34, 34);
}

.field-text-color-8 {
    color: rgb(255, 0, 251);
}
