.info-bar {
    float: left;
    width: 100%;
    height: 12vh;
    background-color: rgb(242, 163, 163);
}

 .info-bar .content {
    float: left;
    width: 100%;
    height: 6vh;
    background-color: aqua;
}

.info-bar .element {
    float: left;
    width: 50%;
    height: 6vh;
    background-color: aliceblue;
}