.info-bar {
    float: left;
    min-width: 100%;
    min-height: 12vh;
    background-color: rgb(242, 163, 163);
}

 .info-bar .content {
    float: left;
    min-width: 100%;
    min-height: 6vh;
    background-color: aqua;
}

.info-bar .element {
    float: left;
    min-width: 50%;
    min-height: 6vh;
    background-color: aliceblue;
}