.level-bar {
    float: left;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    width: 100%;
    min-height: 4.5vh;
}

.level-bar #select-level {
    min-width: 25%;
    height: 4.5vh;
    font-size: 1rem;
    border-radius: 1.2rem;
    border: solid white 2px;
    background-color: var(--background-color);
    color: white;
    text-align: center;
}

.level-bar #select-level:hover {
    background-color: var(--lighter-background-color);
    cursor: pointer;
}

.level-bar #new-game-button {
    min-width: 15%;
    height: 4.5vh;
    font-size: 1rem;
    border-radius: 1.2rem;
    border: solid white 2px;
    background-color: var(--background-color);
    color: white;
}

.level-bar #new-game-button:hover {
    background-color: var(--lighter-background-color);
    cursor: pointer;
}

@media (min-width: 90rem) {
    .level-bar #select-level {
        height: 4vh;
        font-size: 1.2rem;
    }
    .level-bar #new-game-button {
        height: 4vh;
        font-size: 1.2rem;
    }
}