.container {
    height: 100vh;
}

@media (min-width: 400px) {
    .container {
        width: 100vw;
    }
}
@media (min-width: 600px) {
    .container {
        width: 90vw;
    }
}
@media (min-width: 1000px) {
    .container {
        width: 75vw;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 60vw;
    }
}
@media (min-width: 1500px) {
    .container {
        width: 50vw;
    }
}