.container {
    min-height: 100vh;
    margin: auto;
    background-color: var(--content-background-color);
    overflow: auto;
}

@media (min-width: 400px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 90%;
        border-left: solid var(--content-border-color) 3px;
        border-right: solid var(--content-border-color) 3px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 80%;
    }
}
