.header {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: orange;
    text-align: center;
}

#header-text {
    font-size: 4rem;
    font-weight: 700;
}
@media (min-width: 1000px) {
    #header-text {
        font-size: 5rem;
        font-weight: 700;
    }
}

.header-flags {
    position: absolute;
    right: 2px;
    top: 0px;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat; 
    position: relative;
    display: inline-block;
    width: 1.3333333333em;
    line-height: 1em;
}
.flag-icon:before {
    content: " "; 
}
.flag-icon:hover {
    cursor: pointer;
}
.flag-icon-eng {
    background-image: url('../assets/plugins/flag-icons-master/eng.svg'); 
}
.flag-icon-pol {
    background-image: url('../assets/plugins/flag-icons-master/pol.svg'); 
}

.selected-flag-border {
    border: grey solid 2px;
}
  