.header {
    position: relative;
    width: 100%;
    min-height: 15vh;
    text-align: center;
    color: var(--header-text-color);
}

#header-text {
    font-size: 3.5rem;
    font-weight: 700;
}
@media (min-width: 1000px) {
    #header-text {
        font-size: 4.5rem;
        font-weight: 700;
    }
}

.header-flags {
    position: absolute;
    right: 2px;
    top: 0px;
}

