.header {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: orange;
    text-align: center;
}

#header-text {
    font-size: 4rem;
    font-weight: 700;
}
@media (min-width: 1000px) {
    #header-text {
        font-size: 5rem;
        font-weight: 700;
    }
}

.header-flags {
    position: absolute;
    right: 2px;
    top: 0px;
}

