@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --field-color: rgb(184, 179, 181);
    --field-hover-color: rgb(106, 98, 101);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: grey;
}

/** set default font-size to 62,5% so 1rem = 10px **/
html {
    font-size: 62,5%;
}