@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --background-color: #111827;
    --lighter-background-color: #1e293b;

    --content-background-color: #1f2937;
    --content-border-color: #374151;

    --header-text-color: #a1a1aa;

    --info-bar-text-color: #a1a1aa;

    --level-bar-text-color: #a1a1aa;

    --field-color: #6b7280;
    --field-hover-color: #4b5563;
    --field-open-color: #374151;
    --field-border-color: #030712;
    --field-text-color:#d1d5db;

    --footer-text-color: #a1a1aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: var(--background-color);
}

/** set default font-size to 62,5% so 1rem = 10px **/
html {
    font-size: 62,5%;
}
